.testimonial{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
   
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.card-content{
    width: 50%;
}
@media only screen and (max-width: 600px) {
 .testimonial{
    display: none !important;
 }   
}